<h2>{{family.name}}
    <button *ngIf="userIsOwner()" mat-raised-button color="primary" (click)="onEditClicked.emit()">edit</button>
</h2>

<table mat-table [dataSource]="family.members" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let member">
            {{member.name}}
            <mat-chip *ngIf="memberIsOwner(member)">owner</mat-chip>
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let member">{{member.email}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let member">
            <button 
                *ngIf="!memberIsOwner(member) && userIsOwner()" 
                mat-raised-button 
                color="warn"
                (click)="removeMember(member)"
            >remove</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols"></tr>

</table>


<mat-card *ngIf="userIsOwner()">
    <app-family-form-add-member 
    (onAdded)="addMember($event)"
    [family]="family"
    ></app-family-form-add-member>
</mat-card>