<div id="wrapper">
    <h2>{{title}}</h2>
    <form [formGroup]="familyForm" (ngSubmit)="onSave()">
        <mat-form-field>
            <mat-label for="name">Family Name</mat-label>
            <input id="name" matInput type="text" formControlName="name">
            <mat-error>family name required</mat-error>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button [disabled]="familyForm.invalid">{{actionText}}</button>
        </mat-card-actions>
    </form>
</div>