<mat-card>
    <mat-card-header>
        <mat-card-title>{{clutter.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="(addedBy$ | async) as addedBy">added by {{addedBy}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="(votes$ | async) as votes">
            Keep: {{votes.keep ?? 0}}, Discard: {{votes.discard ?? 0}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="hasDescription()">
        {{clutter.description}}
    </mat-card-content>
    <mat-card-actions>
        <div class="button-row">
            <button mat-raised-button color="accent" (click)="voteKeep()">Keep</button>
            <button mat-raised-button color="warn" (click)="voteDiscard()">Discard</button>
        </div>
    </mat-card-actions>
</mat-card>