<h2>Log In</h2>
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <mat-form-field>
        <input matInput placeholder="email" type="email" formControlName="email">
        <mat-error>Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="password" type="password" formControlName="password">
        <mat-error>Please enter your password</mat-error>
    </mat-form-field>
    <mat-card-actions>
        <button [disabled]="this.loginForm.invalid" color="primary" mat-raised-button type="submit">Log In</button>
    </mat-card-actions>
</form>