<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>Please enter your name</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error>Please enter a password of 8 characters or longer</mat-error>
    </mat-form-field>
    <mat-card-actions>
        <button [disabled]="this.registerForm.invalid" mat-raised-button color="primary">Register</button>
    </mat-card-actions>
</form>