<mat-toolbar color="primary">
    <span><a routerLink="/">Declutter</a></span>



    <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
        <a routerLink="/clutter/add">Add Clutter</a>
        <a routerLink="/clutter/list">View Clutter</a>
        <div class="spacer"></div>
        <button mat-raised-button (click)="logOut()">Log Out</button>
    </ng-container>

    <ng-template #notLoggedIn>
        <div class="spacer"></div>
        <button mat-raised-button (click)="logIn()">Log In</button>
        <button mat-raised-button (click)="register()">Register</button>
    </ng-template>

</mat-toolbar>