<mat-tab-group 
    [selectedIndex]="tab$|async" 
    dynamicHeight 
    mat-stretch-tabs="false" 
    mat-align-tabs="start"
    (selectedIndexChange)="onTabChange($event)"
    >
    <mat-tab label="Vote here">
        <app-clutter-vote-card 
            *ngFor="let clutter of (clutterYourPendingVotes$ | async)"
            [clutterId]="clutter._id" 
        ></app-clutter-vote-card>
    </mat-tab>
    <mat-tab label="Family to vote">
        <app-family-to-vote-card
            *ngFor="let clutter of (clutterPending$ | async)"
            [clutterId]="clutter._id" 
        ></app-family-to-vote-card>
    </mat-tab>
    <mat-tab label="Keep">
        <app-finalised-vote-card
            *ngFor="let clutter of (clutterToKeep$ | async)"
            [clutterId]="clutter._id" 
        ></app-finalised-vote-card>
    </mat-tab>
    <mat-tab label="Discard">
        <app-finalised-vote-card
            *ngFor="let clutter of (clutterToDiscard$ | async)"
            [clutterId]="clutter._id" 
        ></app-finalised-vote-card>
    </mat-tab>
    <mat-tab label="Mixed Results">
        <app-mixed-vote-card
            *ngFor="let clutter of (clutterMixedResults$ | async)"
            [clutterId]="clutter._id" 
        ></app-mixed-vote-card>
    </mat-tab>
    <mat-tab label="Your Votes">
        <app-clutter-voting-card *ngFor="let clutter of (clutterYourVotes$ | async)"
            [clutterId]="clutter._id" 
            [showVoteCounts]="false"
            [showEditButtons]="false"
            ></app-clutter-voting-card>
    </mat-tab>
    <mat-tab label="Added by you">
        <app-clutter-list-item *ngFor="let clutter of (clutterAddedByYou$ | async)"
            [clutterId]="clutter._id"
            [showVoteCounts]="false"
            [showYourVote]="false"
            ></app-clutter-list-item>
    </mat-tab>
</mat-tab-group>