<ng-container *ngIf="(family$ | async) as family; else noFamily">

    <app-family-view
        *ngIf="mode == 'VIEW'"
        [family]="family"
        [userId]="userId$ | async"
        (onEditClicked)="changeToEditMode()"
        (onRemoveMember)="onRemoveMember($event)"
        (onAddMember)="onAddMember($event)"
        ></app-family-view>

    <app-family-form
        *ngIf="mode == 'EDIT'"
        [title]="'Edit Family'"
        [familyToEdit]="family"
        [actionText]="'Save'"
        (familyData)="onUpdateFamily($event)"
    ></app-family-form>

</ng-container>

<ng-template #noFamily>
    <p>You don't have a family yet!</p>
    <p> <a mat-raised-button routerLink="/family/create">Create one now</a></p>
</ng-template>
